<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Debug Tool</title>
</head>
<body>
    <h1>Debug Tool</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");  // Display the flash message in a popup
            </script>
        {% endif %}
    {% endwith %}

    {% if easylist_set %}
        <p>EasyList set has been generated successfully!</p>
        <p>Size of the set: {{ easylist_set|length }}</p>
        <p>Contents of the set: {{ easylist_set }}</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data" action="/">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Submit</button>
    </form>

    <form method="post" action="/add_to_set_and_file">
        <input type="text" name="input_string" placeholder="Enter string">
        <button type="submit">Add Custom Filter</button>
    </form>

    <!-- New form for deleting from the set and file -->
    <form method="post" action="/delete_from_set_and_file">
        <input type="text" name="input_string" placeholder="Enter string">
        <button type="submit">Delete Custom Filter</button>
    </form>
    <!-- Button to download custom_filtered_network_calls.csv -->
    <form method="get" action="/download_custom_filtered_network_calls">
        <button type="submit">Download Custom Filtered Network Calls .csv File</button>
    </form>

    <!-- Button to download filtered_network_calls.csv -->
    <form method="get" action="/download_filtered_network_calls">
        <button type="submit">Download Filtered Network Calls .csv File</button>
    </form>

    <form method="post" action="/generate_graph">
        <input type="radio" name="network_calls_df" value="custom_filtered"> Custom Filtered Network Calls
        <input type="radio" name="network_calls_df" value="filtered"> Filtered Network Calls
        <input type="radio" name="network_calls_df" value="network_calls"> Network Calls
        <button type="submit">Generate Graph</button>
    </form>


    <form method="post" action="/download_graph">
        <input type="radio" name="network_calls_df" value="custom_filtered"> Custom Filtered Network Calls
        <input type="radio" name="network_calls_df" value="filtered"> Filtered Network Calls
        <input type="radio" name="network_calls_df" value="network_calls"> Network Calls
        <button type="submit">Download Graph</button>
    </form>


    <!-- Graph display -->
    {% if graph %}
        {{ graph|safe }}
    {% endif %}

</body>
</html>
